.svn
*.class

# ignore maven
dist
target
build.log

# ignore eclipse
.settings
.project
.classpath
.manager
.cache
.scala_dependencies
.externalToolBuilders

# ignore idea
*.iml
*.ipr
*.iws

# ignore sbt
target
lib_managed
project/boot
project/build/target
project/plugins/target
project/plugins/lib_managed
project/plugins/src_managed

# ignore ctags/etags
TAGS
/project/build.properties

#ignore deprecated
TODO*.txt
